# Exclusion des dossiers __pycache__
__pycache__/
# Exclusion de l'environnement
env/
venv/
# Exclusion du dossier data (Qui contient les données des joueurs et des tournois)
data/
# Exclusion du dossier temp (Qui contient la version précédentes des json joueurs et journois v-1)
temp/
# Exclusion du dossier reports
reports/
# Exclusion des logs
*.log
# Exclusion des fichiers/dossiers compressés
*.zip
*.rar
# Exlusion des fichiers html/svg/txt/css
*.txt
*.json